
*.iml

*.iml

.idea/Simple-PHP-Paypal-API.iml

.idea/.name

.idea/dictionaries/petercarr.xml

.idea/encodings.xml

.idea/misc.xml

*.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/vcs.xml
